<div class="row mt-4">
  <div class="col-md-11 mx-auto">
    <div *ngIf="blogs !== undefined && blogs.length > 0; else elseBlock">
      <div class="card mb-2" *ngFor="let blog of blogs">
        <a routerLink="/blog/{{ blog._id }}">
          <div class="card-header">
            <div class="row">
              <span class="col-11">{{ blog.Title }}</span>
              <span class="col-1 text-muted text-end  ">{{ blog.Category }}</span>
            </div>
          </div>
          <div class="card-body ">
            <p class="blogBody">{{ blog.Body }}</p>
          </div>
          <!-- <div class="card-footer text-end">
            <p>{{ blog.user }}</p>
          </div> -->
        </a>
      </div>
    </div>
    <ng-template #elseBlock> No Blogs Found </ng-template>
  </div>
</div>
