<nav class="navbar bg-secondary navbar-expand-lg ">
    <div class="container-fluid ">
      <a class="navbar-brand" routerLink="/">Blogs App</a>
      
      <div class="d-flex">
        <form class="d-flex"  #form="ngForm">
          <input class="form-control me-2" type="search" placeholder="Search" ngModel name="Search" #search>
          <a class="nav-link m-2" role="button" (click)="onSubmit(form)">Search</a>
        </form>

        <a class="nav-link active m-2" routerLink="/auth" *ngIf="!isAuthenticated">Login</a>

        <div class="nav-item dropdown m-2" *ngIf="isAuthenticated">
          <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>

          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          
            <li><a class="nav-link m-2" routerLink="/blogs/addBlog" *ngIf="isAuthenticated">Add Blog</a></li>
            <li><a class="nav-link m-2" routerLink="/profile" *ngIf="isAuthenticated">Profile</a></li>
            <li><a class="nav-link active m-2" *ngIf="isAuthenticated" type="button" (click)="onLogout()">Logout</a></li>
          </ul>
        </div>

        

      </div>
    </div>
  </nav>
  