<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h4>Add Blog </h4>
                </div>
                
                <div class="card-body">
                    <form #form="ngForm" (ngSubmit)="createMode ? onSubmit() : onUpdate()">
                        <div class="mb-3">
                            <label for="Title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="Title" [(ngModel)]="blog.Title" name="Title" required>
                        </div>
                        <div class="mb-3">
                            <label for="Body" class="form-label">Description</label>
                            <textarea rows="10" class="form-control" name="Body"  [(ngModel)]="blog.Body" id="Body">{{blog.Body}}</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="Category" class="form-label">Category</label>
                            <input type="Category" class="form-control" id="Category" [(ngModel)]="blog.Category" name="Category" required>
                        </div>
                        
                        <div class="mb-3 text-start">
                            <button class="btn btn-primary me-2" type="submit" >
                                {{createMode? 'Add blog' : 'Update Blog'}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>