<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h4>Login </h4>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()" #form="ngForm">
                        <div class="mb-3" *ngIf="!isLoginMode">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" ngModel name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" ngModel name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" ngModel name="password" required>
                        </div>
                        
                        <div class="mb-3 text-center">
                            <button class="btn btn-primary me-2" type="submit" >
                                {{ isLoginMode ? "Login" : "Sign Up" }}
                            </button>
                            <button class="btn btn-outline-secondary " (click)="onSwitchMode()" type="button">
                                Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>